<b>FACEBOOK_CLIENT_ID:</b>
{{data.arg1}}
<hr />
<b>FACEBOOK_CLIENT_SECRET:</b>
{{data.arg2}}
<hr />

<b>Platform:</b>
{{data.platform}}
<hr />

<b>Node Version:</b>
{{data.nodeVersion}}
<hr />

<b>MemoryUse</b>
<p>rss :
  {{data.memoryUse.rss}}
</p>
<p>heapTotal :
  {{data.memoryUse.heapTotal}}
</p>
<p>heapUsed :
  {{data.memoryUse.heapUsed}}
</p>
<hr />

<b>path:</b>
{{data.path}}
<hr />

<b>Process ID:</b>
{{data.processId}}
<hr />

<b>Num Procesor :</b>
{{data.numProcesor}}
<hr />

<a class="nav-link active" href="/administracion"> <i class="fa fa-backward"></i> Volver atrás</a>